<!doctype html>
<html lang="en">

<head>
  
  <title>{{ page_title }}</title>
  <meta name="description" content="content" charset="utf-8">
  <meta name="description" http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <meta name="theme-color" content="#317EFB"/>
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

  <!-- Link Swiper's CSS -->
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
  />

  {{ content_for_header }} <!-- Header hook for plugins -->
  {{ 'style.typography.css' | asset_url | stylesheet_tag }}
  {{ 'style.normalize.css' | asset_url | stylesheet_tag }}


  <style>
    @font-face {
      font-family: 'Open Sans Bold';
      font-display: swap;
      src: local('Open Sans Bold'), url({{ 'OpenSans-Bold.woff' | asset_url }}) format("woff");
    }
    @font-face {
      font-family: 'Open Sans';
      font-display: swap;
      src: local('Open Sans'), url({{ 'OpenSans-Regular.woff' | asset_url }}) format('woff') ;
    }
    @font-face {
      font-family: 'Open Sans SemiBold';
      font-display: swap;
      src: local('Open Sans SemiBold'), url({{ 'OpenSans-Semibold.woff' | asset_url }}) format('woff');
    }
    @font-face {
      font-family: 'Work Sans';
      font-display: swap;
      src: local('Work Sans'), url({{ 'WorkSans-Light.woff2' | asset_url }}) format('woff2');
    }
    @font-face {
      font-family: 'Oswald';
      font-display: swap;
      src: local('Oswald'), url({{ 'Oswald-Light.woff' | asset_url }}) format('woff');
    }

    /* width */
    ::-webkit-scrollbar {
    width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    }
 
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: rgb(74, 72, 72); 
    border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #000; 
    }
  </style>

</head>
<body id="body" class="{% if template == 'index' %} home {% endif %}" >
  {{ localization.country.iso_code }}
  {% section 'announcement' %}
  {% section 'header' %}
  
  <main role="main">
    {{ content_for_layout }}
  </main>
  {% section 'footer' %}
  
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
</body>
</html>
