
<script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/Yl6mhfSOFGP9pO4B5fmNquqnb5t7aT1Zrjzof0SQ" async></script>

<style>
    .yotpo-headline{
        font-weight: 400 !important;
        font-size: 28px !important;
        line-height: 130%;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        text-align: center;
        margin: 0 !important;
    }
    .yotpo-head{
        display: block !important;
    }
    .yotpo-reviews-trademark {
        display: none !important;
    }
    .yotpo-new-review-btn-wrapper .yotpo-btn-s{
        border-radius: 0 !important;
        width: 214px;
        height: 43px;
    }
    .yotpo-bottom-line .yotpo-bottom-line-left-panel.yotpo-bottom-line-score{
        font-weight: 700;
        font-size: 60px;
        line-height: 130%;
        text-transform: uppercase;
    }
    .yotpo-main-layout .yotpo-layout-header-wrapper{
        justify-content: space-between;
    }
    .yotpo-bottom-line .yotpo-bottom-line-summary .yotpo-vertical-border{
        display: none;
    }
    #yotpo-main-widget-btn[data-v-1fafa3d2]{
        border-radius: 0;
        padding: 5px 10px;
    }
</style>

<div class="yotpo-widget-instance" data-yotpo-instance-id="250066" data-yotpo-product-id="{{product.id}}" data-yotpo-name="{{ product.title | escape }}" data-yotpo-url="{{ shop.url }}{{ product.url }}" data-yotpo-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-yotpo-description="{{ product.description | escape }}"></div>

